<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ko.js"></script>

<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <style>
        .mypage_wrap{ display: block;}
        .title_sub_area { display: flex; justify-content: space-between; align-items: center; }
        .title_area { display: flex; align-items: center; font-size: 26px;}
        .title { margin-right: 10px; }
        .sub {margin-left: 18px; font-size: 22px;}
        .sub em {font-style: normal; color:red; text-decoration: underline;}

    </style>
</head>
<body>
    <div id="section">
        <div class="mypage_wrap">
            <div class="title_sub_area">
                <div class="title_area">
                    <h4 class="title" style="font-style:normal; font-weight:normal;" >내가 예약한 뮤지컬 : </h4>
                    <span class="sub"><em th:text="${count}"> </em> 편</span>
                </div>
            </div>
        </div>

    </div>


</body>
</html>