<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>

<button onclick="saveReq()">글작성</button>
<a href="/board/save">글작성(링크)</a>
<button onclick="listReq()">글목록</button>
<button onclick="pagingReq()">페이징목록</button>
<button onclick="api_data()">데이터불러오기</button>
<button onclick="api_view()">뮤지컬 정보</button>
<button onclick="newUser()">회원가입</button>
<button onclick="login()">로그인</button>
<button onclick="test()">JWT 테스트</button>
<button id="myPage" onclick="myPage()">마이페이지</button>
</body>







<script>

    var token = localStorage.getItem("Authorization");
    var username = "";

    const saveReq = () => {
      location.href = "/board/save";
    }
    const listReq = () => {
      location.href = "/board/";
    }
    const pagingReq = () => {
      location.href = "/board/paging";
    }
    const api_data = () => {
      location.href="/api";
    }
    const api_view = () => {
        location.href="/musical/api-page";
    }
    const newUser = () => {
        location.href="/user/newUser";
    }
    const login = () => {
        location.href="/user/loginpage";
    }

    const test = () => {
        location.href="/user/jwttest";
    }

    function myPage(){
        $.ajax({
        type: "GET",
        url: "/loginCheck",
        data: { user : token },
        success: function(response) {
            alert("성공");
            username = response.username;
            window.location.href= "/musical/my_reservation?user=" + username;
        },
        error: function(xhr, status, error) {
            console.error("로그인 오류: " + error);
            alert("로그인 문제");
       }
       });
    }




</script>
</html>