<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <button id="jwttest">JWT 필터로 보내기</button>
    <button id="jwtremove">JWT 삭제</button>
</body>
</html>


<script>
    document.getElementById("jwttest").addEventListener("click", function() {
        var token = localStorage.getItem("Authorization");

        fetch("/", {
            method: "GET",
            headers: {
                "Authorization": token
            }
        })
        .then(response => {
            if (response.ok) {
                alert("토큰이 전달되었습니다.");
                window.location.href = "/";
            } else {
                throw new Error("토큰 전달에 실패했습니다.");
            }
        })
        .catch(error => {
            console.error("에러:", error);
            alert("에러가 발생했습니다.");
        });
    });


       document.getElementById("jwtremove").addEventListener("click", function() {
            localStorage.removeItem('jwt');
            localStorage.removeItem('Authorization');
            alert("JWT가 제거되었습니다.");
        });


</script>