<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Login Form</title>
</head>
<body>

<h2>Login Form</h2>

<form id="form">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <!-- 버튼에 ID 추가 -->
        <button type="button" id="submit">Login</button>
    </div>
</form>

</body>

<script>


    $(document).ready(function() {
    $('#submit').on("click", function() {
        var form1 = $("#form").serialize();
        $.ajax({
            type: "post",
            url: "/user/login",
            data: form1,
            success: function(data, textStatus, xhr) {
                alert("로그인 성공");
                var token = xhr.getResponseHeader("Authorization");
                xhr.setRequestHeader("Authorization", token); // JWT를 헤더에 추가
                alert(token);
                localStorage.setItem('Authorization', token);
            //    localStorage.getItem('jwt');
            //    localStorage.removeItem('jwt');
                window.location.href = "/";
            },
            error: function(request, status, error) {
                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                if (request.status === 401) {
                    alert("로그인 실패");
                } else {
                    alert("에러");
                }
            }
        });
    });
});

</script>


</html>